{{define "header" -}}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bot-dev-domain.com/pages/css/style.css">
    <script src="https://bot-dev-domain.com/pages/js/script.js" defer></script>
</head>
<body>
{{end}}