{{define "master_card" -}}
<div class="master-container">
    <div class="master-container-layout">
        <h3 class="master-title">{{.Name}}</h3>
        <hr class="line"></hr>
        <img class="master-images" src="{{.Image1}}" style="width:100%">
        <div class="master-description">{{.Description}}</div>
        <button class="master-contact-btn">ЗАПИСАТЬСЯ</button>
    </div>
</div>
{{end}}