{{define "master_card" -}}
<div class="master-container">
    <div class="master-container-layout">
        <h3 class="master-title">{{.Name}}</h3>
        <hr class="line"></hr>
        {{range $index, $image := .Images}}
            <img class="master-images" src="{{$image}}" style="width:100%">
        {{end}}
        <div class="master-description">{{.Description}}</div>
        <button class="master-contact-btn">Связаться</button>
    </div>
</div>
{{end}}