 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1078px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1138px;
  margin: 57px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  grid-auto-columns: calc(33.3333% - 14px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-1 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-gallery-item-1 {
  margin: 153px 0 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 57px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-2 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-gallery-item-2 {
  margin: 153px 0 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin: 57px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-3 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-gallery-item-3 {
  margin: 153px 0 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-text-6 {
  margin: 57px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-4 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-gallery-item-4 {
  margin: 153px 0 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-text-8 {
  margin: 57px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-5 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-gallery-item-5 {
  margin: 153px 0 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-text-10 {
  margin: 57px 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-6 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-gallery-item-6 {
  margin: 153px 0 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-text-12 {
  margin: 57px 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 186px;
  width: 312px;
  margin: -316px auto 0 27px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-2 {
  height: 192px;
  width: 312px;
  margin: -189px auto 0;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-3 {
  height: 185px;
  width: 303px;
  margin: -636px 32px 0 auto;
}

.u-section-1 .u-carousel-indicators-3 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-4 {
  height: 185px;
  width: 303px;
  margin: -185px auto 0 27px;
}

.u-section-1 .u-carousel-indicators-4 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-7 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-8 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-5 {
  height: 185px;
  width: 303px;
  margin: -185px auto 0;
}

.u-section-1 .u-carousel-indicators-5 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-9 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-10 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-6 {
  height: 185px;
  width: 303px;
  margin: 259px 32px 0 auto;
}

.u-section-1 .u-carousel-indicators-6 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-11 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-12 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 192px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 883px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-1 {
    margin-top: 289px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -97px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 24px;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-2 {
    margin-top: 289px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -97px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 24px;
  }

  .u-section-1 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-3 {
    margin-top: 289px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -97px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 24px;
  }

  .u-section-1 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-4 {
    margin-top: 289px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -97px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 24px;
  }

  .u-section-1 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-5 {
    margin-top: 289px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -97px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 24px;
  }

  .u-section-1 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-6 {
    margin-top: 289px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -97px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 146px;
    width: 245px;
    margin-top: -346px;
  }

  .u-section-1 .u-over-slide-7 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-8 {
    min-height: 100px;
  }

  .u-section-1 .u-gallery-2 {
    height: 146px;
    width: 243px;
    margin-top: -146px;
  }

  .u-section-1 .u-gallery-3 {
    height: 160px;
    width: 237px;
    margin-top: -574px;
  }

  .u-section-1 .u-gallery-4 {
    height: 160px;
    width: 240px;
    margin-top: -160px;
  }

  .u-section-1 .u-carousel-item-6 {
    height: 160px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-5 {
    height: 160px;
    width: 243px;
    margin-top: -160px;
  }

  .u-section-1 .u-gallery-6 {
    height: 146px;
    width: 242px;
    margin-top: 267px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 241px;
    margin-bottom: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1572px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    grid-auto-columns: calc(50% - 10.5px);
    min-height: 1364px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -86px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -86px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -86px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -86px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -86px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -86px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 31px;
  }

  .u-section-1 .u-gallery-1 {
    height: 175px;
    width: 285px;
    margin-top: -336px;
    margin-left: 32px;
  }

  .u-section-1 .u-gallery-2 {
    height: 175px;
    width: 285px;
    margin-top: -637px;
    margin-right: 32px;
  }

  .u-section-1 .u-gallery-3 {
    height: 175px;
    width: 285px;
    margin-top: -175px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-gallery-4 {
    height: 175px;
    width: 285px;
    margin-top: -633px;
    margin-left: 30px;
  }

  .u-section-1 .u-gallery-5 {
    height: 175px;
    width: 288px;
    margin-top: -175px;
    margin-right: 29px;
  }

  .u-section-1 .u-gallery-6 {
    height: 175px;
    width: 285px;
    margin-top: 744px;
    margin-right: 32px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1571px;
  }

  .u-section-1 .u-list-1 {
    width: 596px;
    margin-left: -28px;
    margin-right: -28px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1379px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -96px;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -96px;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -96px;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -96px;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -96px;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -96px;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 25px;
  }

  .u-section-1 .u-gallery-1 {
    height: 158px;
    width: 231px;
    margin-top: -348px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-2 {
    height: 158px;
    width: 231px;
    margin-top: -624px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-3 {
    height: 159px;
    width: 231px;
    margin-top: -158px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-4 {
    height: 159px;
    width: 232px;
    margin-top: -626px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-5 {
    height: 158px;
    width: 231px;
    margin-top: -159px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-6 {
    height: 158px;
    width: 231px;
    margin-top: 776px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 236px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1239px;
  }

  .u-section-1 .u-list-1 {
    width: 422px;
    margin-top: 42px;
    margin-left: -36px;
    margin-right: -36px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-1 {
    margin-top: 293px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -147px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 19px;
    margin-left: 11px;
    padding: 5px 21px 6px 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-2 {
    transform-origin: left center 0px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-2 {
    margin-top: 293px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -147px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 19px;
    margin-left: 11px;
    padding: 5px 21px 6px 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 9px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 30px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-3 {
    transform-origin: left center 0px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-3 {
    margin-top: 293px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.75rem;
    margin-top: -147px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 19px;
    margin-left: 11px;
    padding: 5px 21px 6px 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0 9px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 30px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-4 {
    transform-origin: left center 0px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-4 {
    margin-top: 293px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.75rem;
    margin-top: -147px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.75rem;
    margin-top: 19px;
    margin-left: 11px;
    padding: 5px 21px 6px 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0 9px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 30px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-5 {
    transform-origin: left center 0px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-5 {
    margin-top: 293px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.75rem;
    margin-top: -147px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 19px;
    margin-left: 11px;
    padding: 5px 21px 6px 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 0 9px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 30px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-6 {
    transform-origin: left center 0px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-item-6 {
    margin-top: 293px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.75rem;
    margin-top: -147px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 19px;
    margin-left: 11px;
    padding: 5px 21px 6px 20px;
  }

  .u-section-1 .u-gallery-1 {
    height: 126px;
    width: 178px;
    margin-top: -259px;
    margin-left: -25px;
  }

  .u-section-1 .u-gallery-2 {
    height: 126px;
    width: 178px;
    margin-top: -495px;
    margin-right: -23px;
  }

  .u-section-1 .u-gallery-3 {
    height: 126px;
    width: 178px;
    margin-top: -126px;
    margin-left: -25px;
  }

  .u-section-1 .u-carousel-item-5 {
    height: 126px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-4 {
    height: 126px;
    width: 178px;
    margin-top: -495px;
    margin-left: -26px;
  }

  .u-section-1 .u-gallery-5 {
    height: 126px;
    width: 178px;
    margin-top: -126px;
    margin-right: -23px;
  }

  .u-section-1 .u-gallery-6 {
    height: 126px;
    width: 178px;
    margin-top: 612px;
    margin-right: -23px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 163px;
    margin-bottom: 42px;
  }
}