{{define "content" -}}
<div class="container">
   <h3 class="title"> Галлерея мастеров </h3>
   <div class="products-container">
{{range $index, $item :=.}}
      <div class="product" data-name="p-{{$index}}">
         <img src="{{$item.Img}}" alt="">
         <h3>{{$item.Name}}</h3>
      </div>
{{end}}
   </div>
</div>

<div class="products-preview">
{{range $index, $item:=.}}
  <div class="preview" data-target="p-{{$index}}">
      <i class="fas fa-times"></i>
      <img src="{{$item.Img}}" alt="">
      <h3>organic {{$item.Name}}</h3>
      <div class="stars">
      {{- $stars := list 1.0 2.0 3.0 4.0 5.0 -}}
      {{- range $stars}}
            {{$x:= subtr . 0.5}}
            {{- if lt $item.Stars $x -}}
            <i class="far fa-star"></i>
            {{- else if lt $item.Stars . -}}
            <i class="fas fa-star-half-alt"></i>
            {{- else -}}
            <i class="fas fa-star"></i>
            {{- end -}}
      {{end}}
         <span>( {{$item.Reviews}} )</span>
      </div>
      <p>{{$item.Description}}</p>
      <div class="price">{{$item.Price}}</div>
      <div class="buttons">
         <a href="#" class="buy">Связаться с мастером</a>
      </div>
   </div>
{{end}}
</div>
{{end}}